body {
  font-size: 18px;
  line-height: 1.2;
  color: $bl;
  background-color: #f0ffff;

  @extend %lato-400;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1148px;
}

.title {
  position: relative;
  margin-bottom: 60px;
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
  font-size: 57px;
  line-height: 1.4;
  text-align: center;
  color: $accent;

  &::after {
    content: "";
    position: absolute;
    background-size: cover;

    @include r(1180) {
      display: none;
    }
  }

  @include r($xl) {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.2;
  }

  @include r($md) {
    font-size: 36px;
  }
}

.feedback-button {
  padding: 5px;
  width: 100%;
  max-width: 195px;
  border-radius: 10px;
  font-family: "Pacifico", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.tel {
  padding-left: 65px;
  font-size: 20px;

  @include r($lg) {
    font-size: 18px;
  }

  @include r($sm) {
    padding-left: 40px;
    text-align: center;
  }
}

.tel-top {
  position: relative;
  margin-bottom: 15px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 20px;
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/tel.svg");
    background-repeat: no-repeat;
  }
}

.route {
  position: relative;
  margin-bottom: 50px;
  padding-left: 65px;
  width: 100%;
  max-width: 370px;
  font-style: normal;
  font-size: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/nav.svg");
  }

  @include r($lg) {
    margin-bottom: 15px;
    font-size: 18px;
  }

  @include r($sm) {
    padding-left: 40px;
    max-width: 100%;
    text-align: center;
  }
}

.book__button {
  padding: 14px;
  width: 262px;
  border: none;
  border-radius: 10px;
  font-size: 26px;
  color: $wh;
  background-color: $accent;
  transition: box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @include r($xl) {
    width: 220px;
    font-size: 20px;
  }

  @extend %lato-400;
}