.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1148px;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: $bl;
    font-size: 18px;
}

.main {
    background-color: #f0ffff;
}

.title {
    color: $accent;
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    text-align: center;

}