.advantages {
  position: relative;
  z-index: 5;
  padding: 250px 0 50px;
  background-image: url("../images/bg.png");
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 68%;
    z-index: -1;
    width: 175px;
    height: 225px;
    background-image: url("../images/icons/coral-left.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 41%;
    width: 175px;
    height: 225px;
    background-image: url("../images/icons/coral-right.svg");
    background-repeat: no-repeat;
  }

  &__title {
    &::after {
      left: -50px;
      top: -300px;
      width: 200px;
      height: 175px;
      background-image: url("../images/icons/pearl.svg");
    }
  }

  &__descr {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 700px;
    line-height: 30px;
    letter-spacing: 0.3em;
    text-align: center;
  }

  &__item {
    display: flex;
    width: 100%;
    max-width: 1085px;
    overflow: hidden;
    border-radius: 10px;
    background-color: $wh;

    &:not(:last-child) {
      margin-bottom: 122px;
    }
  }

  &__content {
    padding: 30px 20px;
  }

  &__name {
    margin-bottom: 20px;
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: $accent;
  }

  &__text {
    width: 100%;
    max-width: 575px;
    font-weight: 300;
    line-height: 30px;
  }
}

.advantages__item--revert {
  flex-direction: row-reverse;
  color: $wh;
  background-color: $accent;
}

.advantages__name--revert {
  color: $wh;
}