.benefits {
  position: relative;
  z-index: 1;
  padding: 165px 0 10px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    z-index: -1;
    height: 100%;
    background-image: url("../images/downbg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__inner {
    z-index: 5;
    display: flex;
    justify-content: space-between;

    @include r($lg) {
      justify-content: space-evenly;
    }

    @include r($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin: 0 auto 60px;
    width: 100%;
    max-width: 650px;
    color: $accent;

    &::after {
      right: -39%;
      top: -155px;
      width: 201px;
      height: 200px;
      background-image: url("../images/icons/shell.svg");
    }
  }

  &__item-left {
    position: relative;
    padding-left: 90px;
    width: 100%;
    max-width: 275px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 52px;
      height: 52px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include r($xl) {
      padding-left: 64px;
      font-size: 16px;
    }
  }

  &__item-right {
    position: relative;
    padding-right: 90px;
    width: 100%;
    max-width: 275px;
    text-align: right;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: -5px;
      width: 52px;
      height: 52px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include r($xl) {
      padding-right: 64px;
      font-size: 16px;
    }
  }

  .benefits__item-left--house {
    &::before {
      background-image: url("../images/icons/house.svg");
    }
  }

  .benefits__item-left--lock {
    &::before {
      background-image: url("../images/icons/lock.svg");
    }
  }

  .benefits__item-left--parking {
    max-width: 261px;

    &::before {
      background-image: url("../images/icons/parking.svg");
    }
  }

  .benefits__item-left--animals {
    &::before {
      background-image: url("../images/icons/animals.svg");
    }
  }

  .benefits__item-right--cake {
    padding: 0 0 0 64px;
    text-align: left;

    &::before {
      left: 0;
      top: 0;
      width: 52px;
      height: 54px;
      background-image: url("../images/icons/cake.svg");
    }
  }

  .benefits__item-right--sun {
    padding: 0 0 0 64px;
    text-align: left;

    &::before {
      left: 0;
      top: 0;
      background-image: url("../images/icons/sun.svg");
    }
  }

  .benefits__item-right--insects {
    padding: 0 0 0 64px;
    text-align: left;

    &::before {
      left: 0;
      top: 0;
      background-image: url("../images/icons/insects.svg");
    }
  }

  .benefits__item-right--jellyfish {
    padding: 0 0 0 64px;
    text-align: left;

    &::before {
      left: 0;
      top: 0;
      background-image: url("../images/icons/jellyfish.svg");
    }
  }

  &__item-left:not(:last-child) {
    margin-bottom: 85px;

    @include r($lg) {
      margin-bottom: 55px;
    }
  }

  &__item-right:not(:last-child) {
    margin-bottom: 85px;

    @include r($lg) {
      margin-bottom: 55px;
    }
  }

  &__img {
    margin: 0 25px;

    @include r($lg) {
      display: none;
    }
  }

  &__list-left {
    margin-left: auto;

    @include r($lg) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 5px 0 0;
    }

    @include r($sm) {
      margin-bottom: 50px;
    }
  }

  &__list-right {
    margin-right: auto;

    @include r($lg) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 0 0 5px;
    }

    @include r($sm) {
      margin: 0;
    }
  }

  @include r($xl) {
    padding: 120px 0 10px;
  }

  @include r($md) {
    padding: 95px 0 80px;
  }
}