.book {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 5px;
  padding: 48px 55px;
  border-radius: 20px;
  box-shadow: 1px 11px 15px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: linear-gradient(180deg, #a3e4ff 0%, #f0ffff 100%);

  &__button {
    margin-left: auto;
  }
  @include r($lg) {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 25px;
    padding: 20px 30px;
    max-width: 700px;
  }

  @include r($md) {
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
    max-width: 500px;
  }
}