.book {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 160px;
  padding: 55px;
  border-radius: 20px;
  box-shadow: 1px 11px 15px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: linear-gradient(180deg, #a3e4ff 0%, #f0ffff 100%);

  &__person {
    border: none;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
  }

  &__date {
    border: none;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
  }

  &__item {
    position: relative;
    padding-left: 50px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 37px;
      height: 35px;
      background-image: url("../images/icons/user.svg");
    }
  }

  .book__item--calendar {
    &::before {
      background-image: url("../images/icons/calendar.svg");
    }
  }

  &__title {
    margin-bottom: 15px;
    padding-left: 4px;
    font-size: 26px;
  }

  &__button {
    padding: 14px;
    width: 262px;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    color: $wh;
    background-color: $accent;
    transition: box-shadow 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    @extend %lato-400;
  }
}