.feedback {
  position: relative;
  z-index: 5;
  padding: 190px 0 250px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    background-image: url("../images/downbg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  @include r($xl) {
    padding: 120px 0 30px;
  }
  &__img{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
}