.footer {
  padding: 30px 0;
  background-color: $accent;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;

  }

  &__button {
    margin-right: 200px;
    margin-left: auto;
    background-color: #cbebf8;
    @include r($xl){
      margin: 0;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    @include r($xl){
      display: none;
    }
  }
  &__link:first-child {
    margin-right: 10px;
  }

  &__link{
    display: block;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-right: 200px;
    @include r($xl){
    margin: 0;
  }

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 320px;
    align-self: center;
    @include r($xl){
      margin: 0;
    }
  }

  &__item {
    width: 100%;
    max-width: 160px;
    height: 44px;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 370px;
  }

  &__route {
    margin-bottom: 20px;
  }

  .tel-bottom {
    margin-bottom: 15px;
  }

  &__mail {
    position: relative;
    padding-left: 65px;
    font-size: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 5px;
      width: 32px;
      height: 32px;
      background-image: url("../images/icons/mail.svg");
      background-repeat: no-repeat;
    }
  }
}