.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding-top: 30px;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      @include r($sm) {
        max-width: 200px;
      }
    }
    &__btn {
      display: none;
      @include r($lg){
          z-index: 2;
          display: block;
          padding: 0;
          border: none;
          background-color: transparent;
      }
      @include r($md){
        padding: 0 10px 0 0;
      }
    }

    &__list {
      display: flex;
      @include r($lg){
        display: none;
      }
    }
    &__item {
      font-size: 20px;
      color: $dark-gray;
      @include r($xl){
        font-size: 16px;
      }
    }

    &__item:not(:last-child) {
      margin-right: 20px;
    }

    &__button {
      color: $wh;
      background-color: $accent;
      @include r($md){
        display: none;
      }
    }
  }
}

.header--active {
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  background-color: #f0ffff;
}
