.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding-top: 30px;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      @include r($lg) {
        max-width: 200px;
      }
    }

    &__phone {
      border-left: 1px solid rgba(111, 180, 215, 0.46);
      padding: 8px 0 8px 40px;
      @include r($md) {
        display: none;
      }
    }

    &__phone-tel{
      font-weight: 700;
      font-size: 20px;
      text-decoration-line: underline;
      color: #449BCA;
      @include r($xl) {
        font-size: 16px;
      }
    }
    &__phone-link {
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        top: 6px;
        left: -25px;
        background-image: url("../images/icons/telephone.svg");
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }

    &__btn {
      display: none;

      @include r($lg) {
        z-index: 2;
        display: block;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      @include r($md) {
        padding: 0 10px 0 0;
      }
    }

    &__list {
      display: flex;

      @include r($lg) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        display: block;
        align-items: center;
        padding: 90px 0 15px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        background-color: rgba($wh, 0.9);
        transform: translateY(-200%);
        transition: all 0.5s;
      }
    }

    &__list--active {
      transform: translateY(0);
    }

    &__item {
      font-size: 20px;
      color: $dark-gray;

      @include r($xl) {
        font-size: 16px;
      }

      @include r($xl) {
        font-size: 18px;
      }
    }

    &__item:not(:last-child) {
      margin-right: 20px;

      @include r($lg) {
        margin: 0;
        margin-bottom: 15px;
      }
    }
  }

  @include r($lg) {
    padding-top: 15px;
  }
}

.header__about {
  padding: 30px 0 10px;
  background-color: #f0ffff;

  .menu__list {
    margin-left: 84px;

    @include r($lg) {
      margin-left: 0;
    }
  }
}

.header--active {
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  background-color: #f0ffff;
}
