.present {
  padding: 40px 0 10px;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    font-size: 70px;

    &::after {
      right: -3px;
      top: -102px;
      width: 160px;
      height: 192px;
      background-image: url("../images/icons/star.svg");
    }

    @include r($xl) {
      font-size: 48px;
    }

    @include r($md) {
      font-size: 36px;
    }
  }

  &__slider {
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
    text-align: center;
  }

  &__img {
    margin: 0 auto;
    border-radius: 20px;
  }
}