.rooms {
  padding: 110px 0 10px;
  background-image: url("../images/bg.png");
  background-size: cover;
  @include r($xl) {
    padding: 60px 0 10px;
  }
  @include r($lg) {
    padding: 85px 0 10px;
  }
  @include r($md) {
    background-image: none;
    background-color: #cbebf8;
    padding: 30px 0 10px;
  }

  &__title::after {
    right: 26%;
    top: -10px;
    width: 143px;
    height: 123px;
    background-image: url("../images/icons/crab.svg");
  }
  &__title {
    padding-top: 45px;
    @include r($xl) {
      padding-top: 60px;
    }
  }
}

.card {
  display: flex;
  margin: 0 auto 110px;
  width: 100%;
  max-width: 1085px;
  overflow: hidden;
  border-radius: 15px;
  background-color: $wh;

  &__content {
    padding: 25px 20px 20px 50px;
    width: 100%;

    @include r($lg) {
      padding: 10px 15px 15px 25px;
    }

    @include r($md) {
      padding: 20px;
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;

    @include r($md) {
      width: 100%;
    }
  }

  &__img-inner {
    position: relative;
    display: block;
    max-width: 415px;

    &::after {
      content: "Больше фото";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      width: 100%;
      height: 100%;
      font-size: 24px;
      background-color: rgba(255, 255, 255, 0.55);
      transition: opacity 0.2s;
      cursor: pointer;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 26px;

    @include r($lg) {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include r($lg) {
      display: block;
    }
  }

  &__list-left {
    padding-left: 30px;
    width: 100%;
    max-width: 230px;
    list-style: initial;

    @include r($lg) {
      margin-bottom: 5px;
    }
  }

  &__list-right {
    width: 100%;
    max-width: 350px;
    list-style: initial;

    @include r($lg) {
      padding-left: 30px;
    }
  }

  &__item {
    font-size: 24px;

    @include r($xl) {
      font-size: 18px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;

    @include r($lg) {
      margin-bottom: 5px;
    }
  }

  &__button {
    display: block;
    padding: 12px;
    width: 293px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    background-color: $accent;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      color: $wh;
    }

    @include r($lg) {
      padding: 6px;
      width: 240px;
      font-size: 20px;
    }

    @include r($md) {
      margin: 0 auto;
    }
  }

  .card__item::marker {
    font-weight: 700;
    font-size: 35px;
    line-height: 0;
    color: #68caff;
  }

  &:last-child {
    margin: 0 auto 10px;
  }

  @include r($xl) {
    margin: 0 auto 40px;
  }

  @include r($lg) {
    max-width: 700px;
  }

  @include r($md) {
    flex-direction: column;
    width: fit-content;
  }
}

.card-revert {
  flex-direction: row-reverse;

  @include r($md) {
    flex-direction: column;
  }
}

.cottages {
  padding: 100px 0 10px;
  background-color: #cbebf8;
  @include r($xl) {
    padding: 30px 0 10px;
  }

  &__title {
    margin-bottom: 100px;
    @include r($xl) {
      margin-bottom: 50px;
    }
  }

  &__title::after {
    left: 20px;
    top: -104px;
    width: 258px;
    height: 285px;
    background-image: url("../images/icons/lighthouse.svg");
  }
}