.book {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 48px 55px;
  border-radius: 20px;
  box-shadow: 1px 11px 15px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 auto 5px;
  background: linear-gradient(180deg, #a3e4ff 0%, #f0ffff 100%);


  &__person {
    padding-right: 25px;
    appearance: none;
    border: none;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    @include r($xl) {
      font-size: 18px;
    }

    @include r($md) {
      font-size: 16px;
    }
  }

  &__select {
    position: relative;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      right: 5px;
      top: 9px;
      width: 12px;
      height: 7px;
      background-image: url("../images/icons/select-arrow.svg");
      pointer-events: none;
    }
  }

  &__date {
    max-width: 161px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    position: relative;

    @include r($xl) {
      font-size: 18px;
    }

    @include r($md) {
      font-size: 16px;
    }
  }

  &__item {
    position: relative;
    margin: 0 10px;
    padding-left: 50px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 37px;
      height: 35px;
      background-image: url("../images/icons/user.svg");
    }

    @include r($lg) {
      margin: 22px 10px;
    }

    @include r($md) {
      width: 100%;
      max-width: 230px;
    }
  }

  .book__item--calendar {
    &::before {
      background-image: url("../images/icons/calendar.svg");
    }
  }

  &__title {
    margin-bottom: 15px;
    padding-left: 4px;
    font-size: 26px;

    @include r($xl) {
      margin-bottom: 10px;
      font-size: 20px;
    }

    @include r($md) {
      font-size: 18px;
    }
  }

  &__button {
    padding: 14px;
    width: 262px;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    color: $wh;
    background-color: $accent;
    transition: box-shadow 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    @include r($xl) {
      width: 220px;
      font-size: 20px;
    }

    @extend %lato-400;
  }

  @include r($lg) {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 25px;
    padding: 20px 30px;
    max-width: 700px;
  }

  @include r($md) {
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
    max-width: 500px;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type="date"]::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 9px;
  width: 12px;
  height: 7px;
  cursor: pointer;
  background-image: url("../images/icons/select-arrow.svg");
}