.number {
  padding: 135px 0 70px;
  @include r($lg) {
    padding: 135px 0 30px;
  }

  &__title {
    margin-bottom: 60px;
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    font-size: 58px;
    text-align: center;
    color: $accent;
    @include r($xl) {
      font-size: 40px;
      margin-bottom: 30px;
    }
    @include r($md) {
      font-size: 28px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @include r($xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__slider {
    width: 100%;
    max-width: 750px;
  }

  &__slider-bigs {
    margin-bottom: 15px;
    overflow: hidden;
    max-width: 735px;
    @include r($lg) {
      padding: 0 15px;
    }
  }
  &__slider-thumbs{
    overflow: hidden;
    @include r($lg) {
      padding-left: 15px;
      overflow: hidden;
    }
  }
  &__slider-thumb{
    padding-right: 17px;
  }
  &__slider-thumb--img {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  &__slider-big--img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    @include r($xl) {
      height: 400px;
    }
    @include r($md) {
      height: 300px;
    }
  }

  &__info {
    margin-left: 25px;
    width: 100%;
    max-width: 390px;
    @include r($xl) {
      max-width: 750px;
      margin-left: 0;
      margin-top: 15px;
      text-align: center;
    }
  }

  &__point {
    &:not(:last-child) {
      margin-bottom: 25px;
      @include r($xl) {
        margin: 0 10px 15px 0;
      }
    }
    @include r($xl) {
      text-align: left;
    }


  }

  &__points {
    margin-bottom: 25px;
    @include r($xl) {
      display: flex;
    }
    @include r($md) {
      flex-wrap: wrap;
    }
  }

  &__point-descr {
    font-size: 22px;
    @include r($lg) {
      font-size: 18px;
    }
  }

  &__point-span {
    font-size: 20px;
    color: #888;
    @include r($lg) {
      font-size: 16px;
    }
  }

  &__button {
    margin-bottom: 15px;
    padding: 16px;
    width: 100%;
    max-width: 390px;
    font-size: 28px;
    @include r($xl) {
      margin-bottom: 10px;
    }
    @include r($lg) {
      flex-wrap: wrap;
      max-width: 300px;
      font-size: 20px;
    }

    @extend %lato-600;
  }

  &__prices {
    margin: 0 auto;
    padding-top: 25px;
    border-top: 1px solid #000;
    text-align: center;
    @include r($xl) {
      border: none;
      display: flex;
    }
    @include r($md) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__price {
    font-size: 22px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @include r($xl) {
      margin-right: 10px;
    }
    @include r($lg) {
      font-size: 18px;
    }
  }

  &__service-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 26px;
    @include r($lg) {
      font-size: 20px;
    }
  }

  &__service-text {
    margin-bottom: 60px;
    font-size: 24px;
    @include r($lg) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    position: relative;
    padding: 50px 0 50px 125px;
    width: 33.3%;
    @include r($lg) {
      padding: 50px 0 50px 75px;
    }
    @include r($md) {
      width: 50%;
    }
    @include r($sm) {
      width: 100%;
      justify-content: center;
      text-align: center;
      padding: 35px 0 35px 75px;

    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 75px;
      height: 78px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      @include r($lg) {
        width: 55px;
        height: 58px;
      }
    }
  }

  &__item--conditioner {
    &::before {
      background-image: url("../images/icons/conditioner.svg");
    }
  }

  &__item--water {
    &::before {
      background-image: url("../images/icons/water.svg");
    }
  }

  &__item--badroom {
    &::before {
      background-image: url("../images/icons/badroom.svg");
    }
  }

  &__item--tv {
    &::before {
      background-image: url("../images/icons/tv.svg");
    }
  }

  &__item--fridge {
    &::before {
      background-image: url("../images/icons/fridge.svg");
    }
  }

  &__item--balcony {
    &::before {
      background-image: url("../images/icons/balcony.svg");
    }
  }
}