.number {
  padding: 100px 0 70px;

  &__title {
    margin-bottom: 60px;
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    color: $accent;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__slider {
    width: 100%;
    max-width: 750px;
  }

  &__slider-bigs {
    margin-bottom: 15px;
  }

  &__slider-thumb--img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    padding-right: 15px;
  }

  &__slider-big--img {
    width: 100%;
    height: 500px;
    object-fit: cover;

  }

  &__info {
    margin-left: 25px;
    width: 100%;
    max-width: 390px;
  }

  &__point {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__points {
    margin-bottom: 25px;
  }

  &__point-descr {
    font-size: 22px;
  }

  &__point-span {
    font-size: 20px;
    color: #888;
  }

  &__button {
    margin-bottom: 15px;
    padding: 16px;
    width: 100%;
    max-width: 390px;
    font-size: 28px;

    @extend %lato-600;
  }

  &__prices {
    margin: 0 auto;
    padding-top: 25px;
    border-top: 1px solid #000;
    text-align: center;
  }

  &__price {
    font-size: 26px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__service-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 26px;
  }

  &__service-text {
    margin-bottom: 60px;
    font-size: 24px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    position: relative;
    padding: 50px 0 50px 125px;
    width: 33.3%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 75px;
      height: 78px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }

  &__item--conditioner {
    &::before {
      background-image: url("../images/icons/conditioner.svg");
    }
  }

  &__item--water {
    &::before {
      background-image: url("../images/icons/water.svg");
    }
  }

  &__item--badroom {
    &::before {
      background-image: url("../images/icons/badroom.svg");
    }
  }

  &__item--tv {
    &::before {
      background-image: url("../images/icons/tv.svg");
    }
  }

  &__item--fridge {
    &::before {
      background-image: url("../images/icons/fridge.svg");
    }
  }

  &__item--balcony {
    &::before {
      background-image: url("../images/icons/balcony.svg");
    }
  }
}