.present {
    padding-bottom: 100px;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        position: relative;
        margin-bottom: 40px;
        font-family: "Pacifico", sans-serif;
        font-weight: 400;
        font-size: 70px;
        text-align: center;
        color: $accent;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -90px;
            width: 162px;
            height: 180px;
            background-image: url("../images/icons/star.svg");
            background-size: cover;
        }
    }

    &__img {
        margin: 0 auto;
        border-radius: 20px;
    }
}