.present {
  padding: 45px 0 10px;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;


  &__title {
    font-size: 70px;
    padding-top: 80px;

    &::after {
      right: -3px;
      top: -25px;
      width: 160px;
      height: 192px;
      background-image: url("../images/icons/star.svg");
    }

    @include r($xl) {
      font-size: 48px;
      padding-top: 40px;
    }
    @include r($lg) {
      padding-top: 25px;
    }

    @include r($md) {
      font-size: 36px;
    }
  }

  &__slider {
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
    text-align: center;
    padding: 0 70px;
    @include r($lg) {
      padding: 0 30px;
    }
  }

  &__img {
    margin: 0 auto;
    border-radius: 20px;
  }
}

.slick-prev {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 37px;
  height: 74px;
  border: none;
  font-size: 0;
  background-image: url("../images/icons/left-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: translateY(-50%);
  @include r($lg) {
    width: 17px;
    height: 46px;
    background-image: url("../images/icons/left-arrow-small.svg");

  }
}

.slick-next {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  display: block;
  width: 37px;
  height: 74px;
  border: none;
  font-size: 0;
  background-image: url("../images/icons/right-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: translateY(-50%);
  cursor: pointer;

  @include r($lg) {
    width: 19px;
    height: 46px;
    background-image: url("../images/icons/right-arrow-small.svg");
  }
}