.rooms {
  padding: 250px 0 50px;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
&__title {
  font-size: 57px;
  margin-bottom: 80px;
}

}

.card {
  overflow: hidden;
  display: flex;
  background-color: $wh;
  border-radius: 15px;
  margin-bottom: 110px;
  &__content {
    padding: 25px 20px 25px 50px;
    width: 100%;
  }

  &__title {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 26px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__list-left {
    max-width: 230px;
    width: 100%;
    list-style: initial;
    padding-left: 30px;

  }
  &__list-right {
    max-width: 350px;
    width: 100%;
    list-style: initial;
  }
  &__item {
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__button {
    background-color: $accent;
    font-size: 24px;
    padding: 12px 80px;
    border-radius: 10px;
    transition: box-shadow 0.2s;
    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
  .card__item::marker{
    color: #68CAFF;
    font-size: 35px;
    line-height: 0;
    font-weight: 700;
  }
}
.card-revert {
  flex-direction: row-reverse;
}