.rooms {
  padding: 160px 0 10px;
  background-image: url("../images/bg.png");
  background-size: cover;

  &__title::after {
    right: 26%;
    top: -69px;
    width: 143px;
    height: 123px;
    background-image: url("../images/icons/crab.svg");
  }
}

.card {
  display: flex;
  margin: 0 auto 110px;
  width: 100%;
  max-width: 1085px;
  overflow: hidden;
  border-radius: 15px;
  background-color: $wh;

  &__content {
    padding: 25px 20px 20px 50px;
    width: 100%;
  }

  &__img {
    object-fit: cover;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 26px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include r($lg) {
      display: block;
    }
  }

  &__list-left {
    padding-left: 30px;
    width: 100%;
    max-width: 230px;
    list-style: initial;

    @include r($lg) {
      margin-bottom: 10px;
    }
  }

  &__list-right {
    width: 100%;
    max-width: 350px;
    list-style: initial;

    @include r($lg) {
      padding-left: 30px;
    }
  }

  &__item {
    font-size: 24px;

    @include r($xl) {
      font-size: 20px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__button {
    display: block;
    padding: 12px;
    width: 293px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    background-color: $accent;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      color: $wh;
    }
  }

  .card__item::marker {
    font-weight: 700;
    font-size: 35px;
    line-height: 0;
    color: #68caff;
  }

  &:last-child {
    margin: 0 auto 10px;
  }
}

.card-revert {
  flex-direction: row-reverse;
}

.cottages {
  padding: 100px 0 10px;
  background-color: #cbebf8;

  &__title {
    margin-bottom: 100px;
  }

  &__title::after {
    left: 20px;
    top: -104px;
    width: 258px;
    height: 285px;
    background-image: url("../images/icons/lighthouse.svg");
  }
}