.service {
  position: relative;
  padding: 180px 0 10px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    z-index: -1;
    height: 100%;
    background-image: url("../images/downbg.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 70px;

    &::after {
      right: -39px;
      top: -114px;
      width: 177px;
      height: 216px;
      background-image: url("../images/icons/anchor.svg");
    }

    @include r($xl) {
      font-size: 48px;
    }

    @include r($md) {
      font-size: 36px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;

    @include r($xl) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
    padding: 70px 20px 40px;
    width: 100%;
    max-width: 340px;
    border-radius: 10px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    background-color: $wh;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.03);
    }

    @include r($xl) {
      padding: 30px 20px;
      max-width: 430px;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    @include r($lg) {
      max-width: 500px;
    }
  }

  &__img {
    margin: 0 auto 40px;
    border-radius: 10px;

    @include r($xl) {
      margin: 0 auto 20px;
    }
  }

  &__descr {
    margin-bottom: 30px;
    text-align: center;
  }

  &__link {
    display: block;
    margin: auto auto 0;
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    line-height: 22px;
    text-align: center;
    background-color: $accent;
  }

  @include r($xl) {
    padding: 130px 0 10px;
  }
}