.top {
  &__description {
    display: inline-block;
    padding: 100px 0;
    width: 100%;
    max-width: 535px;
  }

  &__slider {
    position: relative;
    display: inline-block;
    padding: 200px 0;
    max-width: 550px;
  }

  &__pretitile {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: $bl;
  }

  &__title {
    margin-bottom: 15px;
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    font-size: 102px;
    color: $accent;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: $bl;
  }
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 67%;
  display: flex;
  justify-content: center;
  font-size: 0;
  cursor: pointer;

  li {
    line-height: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }

    button {
      position: relative;
      width: 20px;
      height: 20px;
      border: 2px solid $wh;
      background-color: transparent;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  .slick-active {
    button {
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 6px;
        height: 6px;
        color: $wh;
        background-color: $wh;
        transform: translate(-50%, -50%);
      }
    }
  }
}
