.top {
  &__inner {
    padding: 155px 0 80px;

    @include r($xl) {
      text-align: center;
    }
  }

  &__description {
    display: inline-block;
    margin-right: 35px;
    width: 100%;
    max-width: 535px;

    @include r($xl) {
      padding: 130px 0 0;
      max-width: 450px;
    }
  }

  &__slider {
    display: inline-block;
    max-width: 550px;

    @include r($xl) {
      padding: 20px 0;
    }
  }

  &__pretitile {
    margin-bottom: 15px;
    font-size: 30px;

    @include r($xl) {
      font-size: 26px;
    }

    @extend %lato-600;
  }

  &__title {
    margin-bottom: 5px;
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    font-size: 102px;
    line-height: 1.8;
    color: $accent;

    @include r($xl) {
      font-size: 90px;
    }
  }

  &__subtitle {
    font-size: 26px;
    line-height: 1.4;
    color: $bl;

    @include r($xl) {
      font-size: 22px;
      line-height: 30px;
    }

    @extend %lato-500;
  }
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  display: flex;
  justify-content: center;
  font-size: 0;
  cursor: pointer;

  li {
    line-height: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }

    button {
      position: relative;
      width: 20px;
      height: 20px;
      border: 2px solid $wh;
      background-color: transparent;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  .slick-active {
    button {
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 6px;
        height: 6px;
        color: $wh;
        background-color: $wh;
        transform: translate(-50%, -50%);
      }
    }
  }
}
